	<% if @pages.size > 0 %>
		<ul id="nav">
          <% for page in @pages %>
          <li>
          <%= link_to page.name, :controller => :pages, :action => :show, :id => page %>
            </li>
          <% end %>
			<%#= render :partial => 'page', :collection => @pages, :locals => {:children => false, :first => @pages.first, :last => @pages.last} %>
		</ul>
	<% end -%>